#!/usr/bin/env bash
set -euo pipefail

__prevEnv__="$(env)"

DIR="$(cd "$(dirname "${BASH_SOURCE[0]}")" >/dev/null 2>&1 && pwd)"
export NX_WORKSPACE_ROOT=$DIR

PATH_add node_modules/.bin
PATH_add tools/bin


# export updated ENV of this file
node "${NX_WORKSPACE_ROOT}/tools/bin/get-env" "${__prevEnv__}" "$(env)" > "${NX_WORKSPACE_ROOT}/.env" &
